html, body {
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF2F8;
    font-family: 'Roboto', sans-serif;
}

#grid-container {
    width: 80vw;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #EDF2F8;
    gap: 20px;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'item1 item1 item2 item3'
    'item4 item5 item5 item3';
}

#grid-container > div {
    /* display: flex; */
    /* flex-direction: column; */
    border-radius: 8px;
}

#grid-item-1 {
    background-color: hsl(263, 55%, 52%);
    color: white;
    grid-area: item1;
    /* width: 580px; */
    /* height: 260px; */
}

#grid-item-1 #description-2, #verif_Grad{
    color: rgba(255, 255, 255, 0.589);
}

#grid-item-2 {
    color: white;
    background-color: hsl(217, 19%, 35%);
    grid-area: item2;
    /* width: 280px; */
    /* height: 260px; */
}

#grid-item-2 #description-2, #verif_Grad{
    color: rgba(255, 255, 255, 0.589);
}

#grid-item-3 {
    background-color: #FFFFFF;
    color: black;
    grid-area: item3;
    box-shadow: 20px 20px 30px rgba(122, 119, 119, 0.445);
    /* grid-column: 1 / 4; */
    /* width: 280px; */
    /* height: 560px; */
}

#grid-item-3 #description-2, #verif_Grad{
    color: rgba(0, 0, 0, 0.589);
}

#grid-item-4 {
    background-color: #FFFFFF;
    grid-area: item4;
    box-shadow: 20px 20px 30px rgba(122, 119, 119, 0.445);
    /* width: 100%; */
    /* height: 260px; */
}

#grid-item-4 #description-2, #verif_Grad{
    color: rgba(0, 0, 0, 0.589);
}

#grid-item-5 {
    background-color: hsl(219, 29%, 14%);
    grid-area: item5;
    color: #EDF2F8;
    /* width: 100%; */
    /* height: 260px; */
}

#grid-item-5 #description-2, #verif_Grad{
    color: rgba(255, 255, 255, 0.589);
}

#peaple {
    display: flex;
    padding: 15px;
    padding-left: 30px;
    padding-bottom: 10px;
}

#peaple div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#peaple img {
    border-radius: 100px;
    height: 40px;
    margin-right: 15px;
    border: #cbced157 solid 3px;
}

#name {
    font-weight: bold;
    margin: 1px;
}

#verif_Grad {
    margin: 1px;
    font-size: 13px;
}

#description-1 {
    margin-top: 5px;
    font-size: 18px;
    margin: 5px 30px 5px 30px;
}

#description-2 {
    font-size: 13px;
    margin: 20px 30px 20px 30px;
}

@media (max-width: 1230px) {
    #grid-container {
        padding: 20px;
        grid-template-columns: 280px;
        grid-template-rows: 450px 280px 500px 230px 410px;
        grid-template-areas: 
        'item1'
        'item2'
        'item3'
        'item4'
        'item5';
    }
}

